<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
        html,body{
            user-select:none;
            height: 100%;
            width: 100%;
        }
        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 400px;
            height: 400px;
            transform: rotate(0deg);
        }

        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }

        .piece.black {
            color: black;
        }

        .flipped {
            transform: rotate(180deg);
        }

        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .square.light {
            background-color: #f0d9b5;
        }

        .square.dark {
            background-color: #b58863;
        }

        .piece {
            font-size: 36px;
            cursor: pointer;
            font-family: "DejaVu Sans", "Arial Unicode MS", "Noto Sans Symbols", sans-serif;
    font-size: 2rem;
        }

        


        .piece.draggable {
            cursor: grab;
        }

        .dragging {
            opacity: 0.5;
        }

        /* Rotate pieces for black player */
        .flipped .piece {
            transform: rotate(180deg);
        }

        .square.highlight {
  outline: 3px solid yellow;
  box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.7);
}

    </style>
</head>


<body>
    <div class="main w-full h-full flex flex-col gap-4 bg-zinc-900">
    <div class="font-bold text-3xl pt-20 flex items-center justify-center bg-zinc-900">
        <h1 class="user rounded-lg p-4">You`re Spectator</h1>
    </div> 
    <div class="flex items-center justify-center bg-zinc-900">
        <div class="chessboard w-96 h-96 bg-red-800"></div>
    </div>
    </div>


    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" 
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>